<nav id="branding" class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid text-center ">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <h1>Agile Coaching Camp Finland</h1>
	  <h2><time datetime"2016-05-20">20.</time>-<time datetime="2016-05-22">22.5.2015</time> Herrankukkaro, Naantali</h2>
  </div><!-- /.container-fluid -->
</nav>
<nav id="branding" class="navbar navbar-default visible-xs">
  <div class="container-fluid text-center visible-xs">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <h1>ACCFI</h1>
	  <h2><time datetime"2016-05-20">20.</time>-<time datetime="2016-05-22">22.5.2015</time> Herrankukkaro, Naantali</h2>
  </div><!-- /.container-fluid -->
</nav>


