<nav id="branding" class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div class="container-fluid text-center ">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <h1>Agile Coaching Camp Finland</h1>
	  <h2>May 20, 21 & 22 in <a href="https://www.google.fi/maps/place/Herrankukkaro/@60.3363156,21.9488919,13z/data=!4m5!3m4!1s0x468b80d0f97b73a3:0xb7a4d80c40bcaa56!8m2!3d60.3363156!4d21.9839162">Herrankukkaro, Naantali</a></h2>
  </div><!-- /.container-fluid -->
</nav>
<nav id="branding" class="navbar navbar-default visible-xs">
  <div class="container-fluid text-center visible-xs">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <h1>ACCFI</h1>
	  <h2><time datetime"2016-05-20">20.</time>-<time datetime="2016-05-22">22.5.2016</time> Herrankukkaro, Naantali</h2>
  </div><!-- /.container-fluid -->
</nav>

<!-- Hotjar Tracking Code for http://accfi.agile.fi -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:183453,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
