<meta property="og:type" content="article"/>
<meta property="og:url" content="http://accfi.agile.fi/" />
<meta property="og:title" content="Agile Coach Camp Finland 2018" />
<meta property="og:image" content="http://accfi.agile.fi/images/accfi-2018-some-sm.png"/>
<meta property="og:site_name" content="agile.fi"/>
<meta property="og:description" content="Join Agile Coach Camp Finland 2018! September 7 to 9 in a scenic location near Helsinki. A weekend retreat of brilliant, curious minds sharing and building knowledge together."/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@agilefinland">
<meta name="twitter:title" content="Agile Coach Camp Finland 2018">
<meta name="twitter:description" content="Join Agile Coach Camp Finland 2018! September 7 to 9 in a scenic location near Helsinki. A weekend retreat of brilliant, curious minds sharing and building knowledge together.">
<meta name="twitter:image:src" content="http://accfi.agile.fi/images/accfi-2018-some-sm.png">

