


#branding
{
	z-index: 2000;
  	//height: 150px;
	border-bottom: 6px solid $border-color;
	background-color: $white;
	
	padding: 25px 0 ;
	
    h1
    {
        font-size: 4em;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0px;  
		color: $main-text-color;
    }

    h2
    {
        font-weight: normal;
        font-size: 1.4em;
        margin: 5px 0 0;
		color: rgba( $main-text-color, 0.6);
    }
    h3
    {
        font-weight: normal;
        margin: 0;
    }
    h4
    {
        font-weight: normal;
    }

    a
    {
      text-decoration: none;
    }

}


.site-header
{
    z-index: 1000;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    padding-top: 200px; 

}

.front #branding {
	border-bottom: 0;
}




